body {
    background-color: #d8eefe;
    color: #5f6c7b;
}

form {
    background-color: #fffffe;
    flex: 1;
    flex-wrap: wrap;
    justify-content: center;
}

input {
    padding: .5em;
    width: 80%;
    margin: 2em;
    display: block;
    flex-direction: column;
    justify-content: center;
}

#main {
    display: flex;
}

.mensagem {
    font-size: 2rem;
    text-align: center;
    padding: 2rem;
}

.erro {
    border-color: #ef4565;
}